/**--------------------------Início Body--------------------------**/
body {
	background: #222222;
  	background: url('imagens/fundo1.jpg') center top no-repeat fixed;
}
/**--------------------------Fim Body-----------------------------**/
/**--------------------------Início Topo--------------------------**/
.faixa-horizontal-topo {
  	background: #222222;
  	width: 1200px;
  	margin: 0 auto;
}
.faixa-topo-item {
	padding: 20px 0;
 	display: flex;
 	justify-content: space-between;
}
.text-faixa-projeto {
	margin: 0 20px;
  	font: 20px 'Open Sans';
  	color: #878787;
}
.text-faixa-email {
	margin: 0 20px;
  	font: 20px 'Open Sans';
  	color: #878787;
}
/**--------------------------Fim do Topo--------------------------**/
/**--------------------------Início Logo--------------------------**/
.logo-principal{}
.logo-total{}
.logo {
  	width: 1200px;
  	height: 100%;
  	margin: 0 auto;
  	display: flex;
  	flex-direction: column;
}

.img-logo {
  	width: 25%;
  	height: 25%;
}
/**--------------------------Fim do Logo--------------------------**/
/**--------------------------Início Menu--------------------------**/
.faixa-horizontal-menu {
  	background: #222222;
  	width: 1200px;
  	margin: 0 auto;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-around;
  	align-items: center;
}

.faixa-menu .item {
	padding: 20px 0;
  	font: 18px 'Open Sans';
  	color: #878787;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.botao-menu {
	margin: 10px 0;
  	padding: 0 20px;
  	padding: 18px 50px;
  	color: #d4c9c9;
  	font: 20px 'calibri';
  	display: inline-block;
}

.botao-menu:hover {
  	background: #a11111;
  	color: #bfbfbf;
}
.link-menu{
	text-decoration:none;
}
/**--------------------------Fim Menu-----------------------------**/
/**--------------------------início Banner------------------------**/
.banner-principal{
	margin-top: 3px;
}
.banner-topo{}
.banner{
	width: 1200px;
  	height: 100%;
 	margin: 0 auto;
  	display: flex;
 	flex-direction: column;
	position:relative;
    text-align:center;
}
.img-banner{
	width: 100%;
  	height: 100%;
}
.botao-banner-ant{
	position:absolute;
    z-index:1;
    top:50%;
    left:38px;
    width:30px;              
    height:30px;           
    padding:0;
    margin:-15px 0 0 -30px;   
    border:0 none;
    background: #222222;
    color: #ffffff;
    font: 20px 'calibri';
}
.botao-banner-prox{
	position:absolute;
    z-index:1;
    top:50%;
    right: 8px;
    width:30px;               
    height:30px;             
    padding:0;
    margin:-15px 0 0 -30px;   
    border:0 none;
    background: #222222;
    color: #ffffff;
    font: 20px 'calibri';
}
.botao-banner-ant:hover  {
  	background: #a11111;
  	color: #ffffff;
 }
.botao-banner-prox:hover  {
  	background: #a11111;
  	color: #ffffff;
 }
/**--------------------------Fim Banner---------------------------**/
/**--------------------------Inicio Corpo-------------------------**/
.corpo-principal{}
.corpo {
	background: #d4c9c9;
  	width: 1200px;
  	margin: auto;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-around;
}
.corpo div {
  	margin: 40px 0px;
}
.conteudo-corpo {
  	width: 550px;
  	height: 430px;
}
.titulo-corpo {
  	font: 40px 'calibri';
  	color: #a11111;
}
.linha-corpo {}
.linha {
	height: 4px;
  	width: 100%;
  	position: relative;
  	background: #a11111;
}
.texto-corpo {
  	font: 20px 'calibri';
  	color: #5c5b5b;
  	margin: 0px 0px;
}
.botao-corpo {
  	padding: 18px 68px;
  	background: #a11111;
  	color: #d4c9c9;
  	font: 20px 'calibri';
  	display: table;
}
.botao-corpo:hover  {
  	background: #222222;
  	color: #bfbfbf;
}
.link-sobre  {
	text-decoration:none;
}
.img-corpo-principal {
  	width: 550px;
  	height: 367px;
  	position: relative;
}
.img-corpo{
	height: 100%;
  	width: 100%;
  	position: absolute;
  	background: #a11111;
  	    border-radius:10px;
}
.text-corpo{
	height: 40px;
  	width: 100%;
  	text-align: center;
  	background: #a11111;  
  	font-size: 32px;
  	position: relative;
  	top: 200px;
  	opacity: 0.8;
}
.link-modal{
	text-decoration: none;
}
/**--------------------------Fim Corpo----------------------------**/
/**--------------------------Inicio corpo pratos------------------**/

.corpo-pratos{
	background: #d4c9c9;
  	width: 1200px;
  	margin: auto;
  	position: relative;
}
.titulo-corpo-pratos{
	color: #ffffff;
	font: 36px 'Open Sans';
	margin-top: 3px;
	text-align: center;
	height: 60px;
  	width: 100%;
  	background: #a11111;  
  	opacity: 0.8;
}
.conteudo-corpo-pratos{
	background: #d4c9c9;
  	margin-top: 3px;
	width: 1200px;
	height: 670px;
	
}
.corpo-principal-pagina {
	max-width: 350px;
	max-height: 350px;
	margin: 23px;
  	background: #d4c9c9;
  	display:inline-block;

}
.img-corpo-principal-pagina{}
.div-corpo-pagina{}
.img-corpo-pagina{
  	object-fit: cover;
  	width:350px;
  	height:245px;
  	background: #d4c9c9;
    border-radius:10px;
}
.text-corpo-pagina{
	font: 24px 'Open Sans';
	color: #ffffff;
	
  	text-align: center;
  	background: #a11111;
  	opacity: 0.8;
  	text-decoration:none;
}

.div-corpo-pagina:hover{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.5;
    color:#ffffff;
    text-decoration: none;
}
.modal-img{
	height: 400px;
  	width: 560px;
  	object-fit: cover;
  	vertical-align;
    position: relative;
}
/**--------------------------Fim Corpo pratos---------------------**/
/**--------------------------Inicio corpo Sobre-------------------**/
.corpo-sobre {
	background: #d4c9c9;
  	width: 1200px;
  	margin: auto;
  	position: relative;
  	margin-top: 3px;
}
.titulo-corpo-sobre{
	color: #ffffff;
	font: 36px 'Open Sans';
	margin-top: 3px;
	text-align: center;
	height: 60px;
  	width: 100%;
  	background: #a11111;  
  	opacity: 0.8;
  	margin: auto;
}

.div-conteudo-sobre{
	margin-top: 3px;
	background: #d4c9c9;
  	margin-top: 3px;
  	margin: auto;
}

.texto-corpo-sobre {
  font: 20px 'calibri';
  color: #5c5b5b;
  width: 500px;
	height: 300px;
	margin: 45px;
  background: #d4c9c9;
  display:inline-block;
  vertical-align: top;
  overflow:auto;
}

.img-corpo-principal-sobre {
  	display:inline-block;

}
.img-corpo-sobre{
	margin: 45px;
  	background: #d4c9c9;
  	max-width: 500px;
	max-height: 500px;
  	background: #d4c9c9;

}
.text-corpo-sobre{
	height: 40px;
  	width: 100%;
  	text-align: center;
  	background: #a11111;  
  	font-size: 32px;
  	position: relative;
  	top: 200px;
  	opacity: 0.8;
}

/**--------------------------Fim Corpo Sobre----------------------**/
/**--------------------------Inicio corpo Contato-------------------**/
.corpo-contato {
	background: #d4c9c9;
  	width: 1200px;
  	height: 500px;
  	margin: auto;
  	position: relative;
  	margin-top: 3px;

}
.titulo-corpo-contato{
	color: #ffffff;
	font: 36px 'Open Sans';
	margin-top: 3px;
	text-align: center;
	height: 60px;
  	width: 100%;
  	background: #a11111;  
  	opacity: 0.8;
  	margin: auto;
}
.formulario-contato {
	font: 20px 'calibri';
  	color: #5c5b5b;
 	background: #d4c9c9;
  	margin: 0 auto;
    width: 500px;
	padding: 1em;
    border-radius: 1em;
    margin-top: 20px;
}
.formulario-contato div + div {
    margin-top: 1em;
}

.text-contato {
    display: inline-block;
    width: 100px;
    text-align: center;
}
.campo-contato{
    
    font: 20px 'calibri';
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #a11111;
    opacity: 0.8;
}

.mensagem {
	font: 20px 'calibri';
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #a11111;
    opacity: 0.8;
    vertical-align: top;
    height: 5em;
    resize: vertical;
}
.div-botao-contato {
	padding-left: 90px;   
}
.botao-contato{ 
	font: 20px 'calibri';
	color: #fff;
	background-color: #a11111;
   	margin-left: .5em;
   	opacity: 0.8;
}
.botao-contato:hover { 
	font: 20px 'calibri';
	color: #fff;
	background-color: #222222;
   	margin-left: .5em;
   	opacity: 0.8;
}

.texto-notificacao{
	color: #a11111;
	font: 22px 'Open Sans';
	margin-top: 3px;
	text-align: center;
	height: 60px;
  	width: 100%;  
  	opacity: 0.8;
  	margin: auto;
  	font-weight: bolder;
}

/**--------------------------Fim Corpo Contato----------------------**/
/**--------------------------Início Rodapé------------------------**/
.rodape-total {
	margin-top: 3px;
}
.rodape {
	background: #222222;
  	width: 1200px;
  	margin: 0 auto;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-around;
  	align-items: center;
}
.texto-rodape {
  	font: 20px 'Open Sans';
  	color: #878787;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.social {
  	font: 20px 'Open Sans';
  	color: #878787;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.img-social {
	width: 60px;
  	height: 60px;
  	padding: 5px;
}
/**--------------------------Fim Rodapé---------------------------**/