body {
  background-color: #000;
}
.corpo-fipe{
	background: #d4c9c9;
	width: 1200px;
	height: 650px;
	margin: auto;
	position: relative;
	margin-top: 5px;
}
.titulo-corpo-fipe{
	color: #ffffff;
	font: 36px 'calibri';
	text-align: center;
	height: 60px;
	width: 100%;
	background: #00008B; 
}
.formulario-fipe {
	font: 20px 'calibri';
  color: #5c5b5b;
 	background: #d4c9c9;
  margin: 0 auto;
  width: 450px;
	padding: 1em;
  border-radius: 1em;
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.text-fipe {
  margin-top: 1em;
  width: 450px;
  justify-content: center;
}
.campo-fipe{
  font: 20px 'calibri';
  width: 500px;
  height: 40px;
  border: 1px solid #00008B;
}
.link-modal{
  margin-top: 1em;
  width: 160px;
  background: #6C7A89;
  color: #fff;
  border:0;
}
.link-modal:hover{
  margin-top: 1em;
  width: 160px;
  background: #363636;
  color: #fff;
  border:0;
}
.botao-fipe{ 
	font: 35px 'calibri';
	color: #fff;
	background-color: #00008B;
  border-radius: 5px;
}
.botao-fipe:hover { 
	font: 35px 'calibri';
	color: #fff;
	background-color: #222222;
  border-radius: 5px;
}

.texto-notificacao{
  color: #f00;
  font: 22px 'calibri';
  text-align: center;
  height: 60px;
  width: 100%;  
  font-weight: bolder;
}
.modal-content{
  border: 0;
}
.modal-body{
  display: table;
  height: 100%;
  width: 100%;
  background-color: #87CEEB;
}
.modal-text-info{
  position:relative;
  border-width:2px;
  width:200px;
  float: left;
  text-align: right;
}
.modal-text{
  position: relative;
  border-width:2px;
  width: 360px;
  left:0px;
  float: right;
  color: #363636;
  font-weight: bolder;
}
.valor{
  display: table;
  height: 40px;
  width: 100%;
  color: #fff;
  background-color: #1E90FF;
}
.modal-text-info-preco{
  position:relative;
  width:200px;
  float: left;
  text-align: right;

}
.modal-text-preco{
    position: relative;
    width: 360px;
    left:0px;
    float: right;
    font-weight: bolder;
}
.rodape-total {
	margin-top: 3px;
}
.rodape {
	background: #222222;
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}