.body{
  background-color: #000;
}

.corpo-fipe{
	background: #d4c9c9;
	width: 1200px;
	height: 750px;
	margin: auto;
	position: relative;
	margin-top: 5px;
}

.titulo-corpo-fipe{
	color: #ffffff;
	font: 36px 'calibri';
	text-align: center;
	height: 60px;
	width: 100%;
	background: #00008B; 
}

.titulo-corpo-fipe-cadastro{
	color: #ffffff;
	font: 36px 'calibri';
	text-align: center;
	height: 60px;
	width: 100%;
	background: #00008B; 
}

.label-fipe-cadastro {
  margin: 0 auto;
	width: 100%;
  height: 30px;
  align-items: center;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.label-text-fipe-cadastro{
  padding-top: 15px;
  width: 50%;
  padding-left: 15.5%;
  font: 32px 'calibri';
  color: #1a1919;
  font-weight: bold;
  margin-top: 20px;
  justify-content: left;
}

.label-text-fipe-usuario{
  padding-top: 15px;
  width: 40%;
  font: 25px 'calibri';
  color: #1a1919;
  font-weight: bold;
  margin-top: 20px;
  text-align: right;
  justify-content: right;
  padding-right:10px;
}

.label-text-fipe-login{
  padding-top: 15px;
  font: 35px 'calibri';
  color: #1a1919;
  font-weight: bold;
  margin-top: 20px;
  text-align: left;
  justify-content: left;
}

.logout{
  width: 70px;
  height: 30px;
  background-color: #1a1919;
  color: #d4c9c9;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;

}

.form-logout{
  padding-top: 15px;
}

.logout-Cadastro{
  border: 0;
  text-decoration: none;
  width: 70px;
  height: 30px;
  background-color: #1a1919;
  color: #d4c9c9;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.logout-Cadastro:hover{
  color: #000;
  background-color: rgb(114, 114, 114);
}

.modal-footer{
  height: 70px;
}

.label-fipe-busca {
  margin: 0 auto;
  align-items: center;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-self: center;
  padding-right: 10px;
	width: 100%;
  height: 30px;
}

.label-text-fipe-busca{
  padding-top: 15px;
  width: 70%;
  font: 32px 'calibri';
  color: #1a1919;
  font-weight: bold;
  margin-top: 20px;
  padding-left: 20px;
  text-align:left;
  padding-left: 31%;
}

.label-text-fipe-busca-usuario{
  width: 30%;
  font: 25px 'calibri';
  color: #1a1919;
  font-weight: bold;
  margin-top: 20px;
  text-align: right;
  padding-right: 10px;
}

.formulario-fipe-busca {
	font: 20px 'calibri';
  color: #5c5b5b;
 	background: #d4c9c9;
  margin: 0 auto;
	width: 100%;
	padding: 1em;
  border-radius: 1em;
  align-items: center;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.formulario-fipe-cadastro {
	font: 20px 'calibri';
  color: #5c5b5b;
 	background: #d4c9c9;
  margin: 0 auto;
	width: 80%;
	padding: 1em;
  border-radius: 1em;
  align-items: center;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
}

.formulario-fipe-login {
	font: 20px 'calibri';
  color: #5c5b5b;
 	background: #d4c9c9;
  margin: 0 auto;
	width: 100%;
	padding: 1em;
  border-radius: 1em;
  align-items: center;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.selectOption{
  font-size: 50px;
}

.text-fipe {
  margin-top: 1em;
  width: 450px;
  justify-content: center;
}

.text-fipe-cadastro {
  margin-top: 1em;
  width: 350px;
}

.campo-fipe{
  font: 20px 'calibri';
  width: 500px;
  height: 40px;
  border: 1px solid #00008B;
}

.link-modal{
  margin-top: 1em;
  width: 160px;
  background: #6C7A89;
  color: #fff;
  border:0;
}

.link-modal:hover{
  margin-top: 1em;
  width: 160px;
  background: #363636;
  color: #fff;
  border:0;
}

.botao-fipe{ 
	font: 35px 'calibri';
	color: #fff;
	background-color: #00008B;
  border-radius: 5px;
}

.botao-fipe:hover { 
	font: 35px 'calibri';
	color: #fff;
	background-color: #222222;
  border-radius: 5px;
}

.texto-notificacao{
  color:firebrick;
  font: 22px 'calibri';
  text-align: center;
  height: 60px;
  width: 100%;  
  padding-top: 20px;
  font-weight: bolder;
}

.modal-content{
  border: 0;
}

.modal-body{
  display: table;
  height: 100%;
  width: 100%;
  background-color: #87CEEB;
}

.modal-text-info{
  position:relative;
  border-width:2px;
  width:200px;
  float: left;
  text-align: right;
}

.modal-text-info-correto{
  position:relative;
  font-size: 30px;
  color:firebrick;
  border-width:5px;
  font-weight: bold;
  width:400px;
  float: left;
  text-align: right;
}

.modal-text{
  position: relative;
  border-width:2px;
  width: 360px;
  left:0px;
  float: right;
  color: #363636;
  font-weight: bolder;
}

.valor{
  display: table;
  height: 40px;
  width: 100%;
  color: #fff;
  background-color: #1E90FF;
}

.modal-text-info-preco{
  position:relative;
  width:200px;
  float: left;
  text-align: right;
}

.modal-text-preco{
  position: relative;
  width: 360px;
  left:0px;
  float: right;
  font-weight: bolder;
}

.rodape-total {
	height: 70px;
}

.rodape {
  height: 60px;
  color: #686666;
	background: #222222;
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.div-botao-fipe{
  padding-top: 25px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.div-botoes-cadastro{
  display: flex;
  width: 80%;
  justify-content:space-evenly;
}

.faixa-horizontal-menu {
  background: #222222;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.botao-menu {
  margin: 5px;
  height: 40px;
  padding: 5px 50px;
  color: #d4c9c9;
  font: 20px 'calibri';
  display: inline-block;
}

.botao-menu:hover {
  background: #d3d3d3;
  color: #1a1a1a;
}

.link-menu{
  text-decoration:none;
}

.span{
  height: 10px;
}

.span-usuario{
  color: rgb(4, 187, 20);
}

.span-email{
  color: rgb(238, 0, 0);
}

.sobrepor{
  transition: width 2s, height 2s, background-color 2s, transform 2s; 
  position:absolute;	
  width:0%;
  height:60px;
  background-image: none;
}

.label-sobrepor{
  margin: auto;
  align-items: center;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-self:auto;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.checkbox{
  padding-top: 15px;
}

.span-erro{
  padding-top: 35px;
  color: rgb(238, 0, 0);
  font-weight: bold;
  font-size: 25px;
}

.conteudo-ajuda{
  padding-top: 50px;
  margin: auto;
  align-items: center;
  flex-direction:column;
  align-self:auto;
  font-size: 30px;
  color: rgb(39, 39, 39);
  width: 700px;
}