<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>PREÇO MÉDIO DE VEÍCULOS</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../style.css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>   
    </head>

    <script type="text/javascript"> 

    </script>
	<body class="body">
		<div class="corpo-fipe">
			<div class="titulo-corpo-fipe " id="corpo">PREÇO MÉDIO DE VEÍCULOS</div>
            <div class="faixa-horizontal-menu" id="menu">
                <a href="/" title="Restaurante e Cervejaria Cook" class="link-menu">
                    <div class="botao-menu">HOME</div>
                </a>
                <a href="/admin/cadastro-veiculo" title="Cadastre novos veiculos!!!" class="link-menu">
                    <div class="botao-menu">CADASTRAR VEÍCULO</div>
                </a>
                <a href="/busca" title="Carros, Motos, Caminhões..." class="link-menu">
                    <div class="botao-menu">BUSCAR VEÍCULO</div>
                </a>
                <a href="/ajuda" title="Saiba mais sobre, como consultar os dados na tabela fipe!!!" class="link-menu">
                    <div class="botao-menu">AJUDA</div>
                </a>
            </div>
			<div class="label-fipe-busca">
				<label for="nome" class="label-text-fipe-login">Ajuda</label>
			</div>
            <div class="conteudo-ajuda">
                <ul>
                    <li>Cadastrar usuários:</li> 
                    <h4>Está disponível o sistema de cadastro de usuários, fazendo verificações de duplicidades de usuários e e-mails, o usuário deve conter pelo menos 6 caracteres, já o e-mail deve seguir o padrão de e-mails possuindo '@' e sendo semelhante a 'email@email.com'</h4> 
                    <br>
                    <li>Cadastrar veículos:</li>
                    <h4>Para cadastrar veículos deve se estar logado como administrador, que está estabelecido no servidor node, todos os campos devem ser preenchidos para poder cadastrar um veículo, todos os campos fazem suas respectivas verificações necessárias para reduzir ao máximo o erro do usuário. </h4> 
                    <br> 
                    <li>Informações importantes:</li> 
                    <h4>Usuário de administrador é <b>'tabela@fipe.com'</b> e senha: <b>'tabelafipe'</b>, existe alguns veículos já cadastrados para poder ser visualizado. O sistema de busca de um veículo é semelhante ao do próprio site Tabela FIPE. </h4>
                </ul>
            </div>
		</div>
		<div class="rodape-total">
        	<div class="rodape">
            	<h4>Projeto WEB-2 desenvolvido por Anderson Tonon</h1>
        	</div>
    	</div>
	</body>
</html>
