<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>PREÇO MÉDIO DE VEÍCULOS</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>

	<script type="text/javascript">

		var tipo, idNome, idModelo, ano;
		function tipoVeiculo(){

			var tipos = document.getElementById('tipo').value;
			const settings = {
				"url": "/fipe/tipo",
				"method": "GET",
				data: {tipo: tipos}	
			};

			$.ajax(settings).done(function (response) {
				$("#item").empty();
				$("#veiculo").empty();
				$("#dadosVeiculo").empty();
				$("#ano").empty();
				$('#item').append(`<option ></option>`);
				response.dados.map((resTipo) => {
					$('#item').append(`<option value='${resTipo.value}'>${resTipo.value}</option>`);
				});
			});
		} 

		function nomeVeiculo(){
			var tipos = document.getElementById('tipo').value;
			var Nome = document.getElementById('item').value;

			const settings = {
				"url": "/fipe/tipo/marca",
				"method": "GET",
				data: {tipo: tipos, marca: Nome}
			};
			$.ajax(settings).done(function (response) {
				$("#veiculo").empty();
				$("#dadosVeiculo").empty();
				$("#ano").empty();
				$('#veiculo').append(`<option ></option>`);
				response.dados.map((resMarca) => {
					$('#veiculo').append(`<option value='${resMarca.value}'>${resMarca.value}</option>`);
				});
			});
		}

		function anoVeiculo(){
			var tipos = document.getElementById('tipo').value;
			var Nome = document.getElementById('item').value;
			var Modelo = document.getElementById('veiculo').value;
			const settings = {
				"url": "/fipe/tipo/marca/modelo",
				"method": "GET",
				data: {tipo: tipos, marca: Nome, modelo: Modelo}
				
			};
			$.ajax(settings).done(function (response) {
				console.log(response);
				$("#dadosVeiculo").empty();
				$("#ano").empty();
				$('#ano').append(`<option ></option>`);
				response.dados.map((resModelo) => {
					$('#ano').append(`<option value='${resModelo.value}'>${resModelo.value}</option>`);
				});
			});
		}

		function dadosVeiculo(){
			if(document.getElementById("tipo").value == ""){
				document.getElementById('texto-notificacao').innerHTML = "Selecione um tipo de Veículo Primeiro!!!";

			}else if(document.getElementById("item").value == ""){
				document.getElementById('texto-notificacao').innerHTML = "Selecione a Marca do Veículo!!!";

			}else if(document.getElementById("veiculo").value == ""){
				document.getElementById('texto-notificacao').innerHTML = "Selecione um Veículo!!!";

			}else if(document.getElementById("ano").value == ""){
				document.getElementById('texto-notificacao').innerHTML = "Selecione o Ano do Veículo!!!";

			}else{
				$("#myModal").modal();
				document.getElementById('texto-notificacao').innerHTML = "";
				var tipos = document.getElementById('tipo').value;
				var Nome = document.getElementById('item').value;
				var Modelo = document.getElementById('veiculo').value;
				var Ano = document.getElementById('ano').value;
				
				dayName = new Array ("domingo", "segunda", "terça", "quarta", "quinta", "sexta", "sábado")
				monName = new Array ("janeiro", "fevereiro", "março", "abril", "maio", "junho", "agosto", "outubro", "novembro", "dezembro")
				now = new Date;

				const settings = {
					"url": "/fipe/tipo/marca/modelo/ano",
					"method": "GET",
					data: {tipo: tipos, marca: Nome, modelo: Modelo, ano:Ano}
					
				};
				$.ajax(settings).done(function (response) {
					$("#dadosVeiculo").empty();
					document.getElementById("modal-title").innerHTML = response.Modelo;
					document.getElementById("modal-text-mes").innerHTML = response.MesReferencia;
					document.getElementById("modal-text-codigo").innerHTML = response.CodigoFipe;
					document.getElementById("modal-text-marca").innerHTML = response.Marca;
					document.getElementById("modal-text-modelo").innerHTML = response.Modelo;
					document.getElementById("modal-text-ano").innerHTML = response.AnoModelo;
					document.getElementById("modal-text-combustivel").innerHTML = response.Combustivel;
					document.getElementById("modal-text-data").innerHTML =  dayName[now.getDay() ] + ", " + now.getDate () + " de " + monName [now.getMonth() ]   +  " de "  +     now.getFullYear () + ". ";
					document.getElementById("modal-text-preco").innerHTML = response.Valor;
				});
			}
		}
	</script>

	<body class="body">
		<div class="corpo-fipe">
			<div class="titulo-corpo-fipe " id="corpo">PREÇO MÉDIO DE VEÍCULOS</div>
			<div class="faixa-horizontal-menu" id="menu">
				<a href="/" title="Preço médio de veículos" class="link-menu">
					<div class="botao-menu">HOME</div>
				</a>
				<a href="/admin/cadastro-veiculo" title="Cadastre novos veiculos!!!" class="link-menu">
					<div class="botao-menu">CADASTRAR VEÍCULO</div>
				</a>
				<a href="/busca" title="Carros, Motos, Caminhões..." class="link-menu">
					<div class="botao-menu">BUSCAR VEÍCULO</div>
				</a>
				<a href="/ajuda" title="Saiba mais sobre, como consultar os dados na tabela fipe!!!" class="link-menu">
					<div class="botao-menu">AJUDA</div>
				</a>
			</div>
			<div class="label-fipe-busca">
				<label for="nome" class="label-text-fipe-busca">Busca de Veículo: </label>
				<label for="nome" class="label-text-fipe-usuario">
					Seja bem vindo: 
					<span class="text-danger" id="resLabelAdmin">
						{{resLabelAdmin}}
					</span> 
				</label>
				<form method="post" action="/logout" class="form-logout">
					<button type="submit" class="logout-Cadastro">logout</button>
				</form >
			</div>
			
			<form action="javascript:;" method="GET" class="formulario-fipe-busca">
				<div>
					<label for="nome" class="text-fipe">Selecione o Tipo de Veículo </label>
					<select id="tipo" name="tipo" class="selectOption form-control form-control-lg input-lg" onchange="tipoVeiculo()">
						<option></option>
						<option value="1">Carros</option>
						<option value="2">Motos</option>
						<option value="3">Caminhões</option>
					</select>
				</div>
				<div>
					<label for="nome" class="text-fipe">Selecione a Marca do veiculo </label>
					<select id="item" name="item" class="form-control form-control-lg input-lg" onchange="nomeVeiculo()">
					</select>
				</div>
				<div>
					<label for="nome" class="text-fipe">Selecione o Nome do Veículo </label>
					<select id="veiculo" class="form-control form-control-lg input-lg" onchange="anoVeiculo()">
					</select>
				</div>
				<div>
					<label for="nome" class="text-fipe">Selecione o Ano do Veículo </label>
					<select id="ano" class="form-control form-control-lg input-lg" >
					</select>
				</div>
				<div class="texto-notificacao" id="texto-notificacao"></div>

				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h1 class="modal-title" id="modal-title"></h1>
							</div>
							<div class="modal-body">
								<br>
								<span id="" class="modal-text-info ">Mês de referência: | </span>
								<span id="modal-text-mes" class="modal-text"></span><br>

								<span id="" class="modal-text-info">Código Fipe: | </span>
								<span id="modal-text-codigo" class="modal-text"></span><br>

								<span id="" class="modal-text-info">Marca: | </span>
								<span id="modal-text-marca" class="modal-text"></span><br>

								<span id="" class="modal-text-info">Modelo: | </span>
								<span id="modal-text-modelo" class="modal-text"></span><br>

								<span id="" class="modal-text-info">Ano Modelo: | </span>
								<span id="modal-text-ano" class="modal-text"></span><br>

								<span id="" class="modal-text-info">Combustivel: | </span>
								<span id="modal-text-combustivel" class="modal-text"></span><br>

								<span id="" class="modal-text-info">Data da consulta: | </span>
								<span id="modal-text-data" class="modal-text"></span>
							</div>
							<div class="valor modal-body">
								<span id="" class="modal-text-info-preco">Preço Médio: | </span>
								<span id="modal-text-preco" class="modal-text-preco"></span><br>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
							</div>
						</div>
					</div>
				</div>
				<div class="div-botao-fipe">
					<button data-toggle="modal"  class="link-modal btn-lg " onclick="dadosVeiculo()"  style="cursor:pointer;">Pesquisar</button>
				</div>
			</form>
		</div>
		<div class="rodape-total">
        	<div class="rodape">
            	<h4>Projeto WEB-2 desenvolvido por Anderson Tonon</h1>
        	</div>
    	</div>
	</body>
</html>