<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>PREÇO MÉDIO DE VEÍCULOS</title>
        <meta charset="utf-8"> 
        <link rel="stylesheet" type="text/css" href="../style.css"> 
  	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>   
    </head>

    <script type="text/javascript"> 
        var usuarioVerificado = false;
        var emailVerificado = false;

        function lembrarSenha(){
            if(document.getElementById('checkbox').checked){
                document.getElementById("senha").autocomplete = "current-password";

            }else{
                document.getElementById("senha").autocomplete = "off";
            }        
        }

        function faserLogin(){
            var email = document.getElementById("email").value;
            var senha = document.getElementById("senha").value;

            const settings = {
                "url": "/verificar-login",
                "method": "POST",
                data: {email: email, senha: senha}
            };
            
            if(emailVerificado){
                if(senha.length < 6){
                    document.getElementById("span-senha").innerHTML = "Senha deve ter no mínimo 6 caracteres";
                    document.getElementById("span-senha").style.color="#f00000";

                }else{
                    $.ajax(settings).done(function (response) {
                        if(response == "success"){
                            console.log(response);
                            document.getElementById("resLogin").style.color ="#12ff12";
                            document.getElementById("resLogin").innerHTML = "Seu login foi realizado com sucesso.";
                            tempLimparresLogin(4000);
                            document.getElementById("form-login").submit();

                        }else if(response == "rejection"){
                            console.log(response);
                            document.getElementById("resLogin").innerHTML = "E-mail e/ou senha inválidos.";
                            tempLimparresLogin(4000);

                        }else{
                            console.log(response);
                            document.getElementById("resLogin").innerHTML = "Erro inesperado!!!";
                            tempLimparresLogin(4000);

                        }
                    });
                }
            }else{
                document.getElementById("span-email").innerHTML = "Verifique o e-mail digitato.";
                document.getElementById("span-email").style.color="#f00000";
            }
        }

        function verificaEmail(){
            var email = document.getElementById("email").value;
            document.getElementById("resLogin").innerHTML = "";

            function validarEmail(emailTest) {
                var re = /\S+@\S+\.\S+/;
                return re.test(emailTest);
            }

            if(validarEmail(email)){
                document.getElementById("span-email").innerHTML = "";
                emailVerificado = true;
            }else{
                tempLimparresLogin(4000);
                document.getElementById("span-email").innerHTML = "E-mail digitado nao é um e um e-mail";
                document.getElementById("span-email").style.color="#f00000";
                emailVerificado = false;
            }
        }
        function tempLimparresLogin(temp){
            setTimeout(function() {
                document.getElementById("resLogin").innerHTML = "";
            },temp); 
        }
        

    </script>
    <body class="body">
        <div class="corpo-fipe">
            <div class="titulo-corpo-fipe" id="corpo">PREÇO MÉDIO DE VEÍCULOS</div>
            <div class="faixa-horizontal-menu" id="menu">
                <a href="/" title="Restaurante e Cervejaria Cook" class="link-menu">
                    <div class="botao-menu">HOME</div>
                </a>
                <a href="/admin/cadastro-veiculo" title="Cadastre novos veiculos!!!" class="link-menu">
                    <div class="botao-menu">CADASTRAR VEÍCULO</div>
                </a>
                <a href="/busca" title="Carros, Motos, Caminhões..." class="link-menu">
                    <div class="botao-menu">BUSCAR VEÍCULO</div>
                </a>
                <a href="/ajuda" title="Saiba mais sobre, como consultar os dados na tabela fipe!!!" class="link-menu">
                    <div class="botao-menu">AJUDA</div>
                </a>
            </div>
            <div class="label-fipe-cadastro">
                <label for="nome" class="label-text-fipe-login">Login usuário:</label>
            </div>

            <div class="formulario-fipe-login">
                <form action="/fazer-login" method="post" id="form-login">
                    <div class="form-group">
                        <label class="text-fipe-cadastro" for="email">E-mail:</label>
                        <input name="email" type="email" placeholder="seunome@email.com" class="form-control form-control-lg input-lg" value="{{email}}" onkeyup="verificaEmail();" id="email"  required>
                        <div class="span">
                            <span for="nome" class="span-email" id="span-email"><span/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="text-fipe-cadastro" for="senha">Senha:</label>
                        <input name="senha" type="password" class="form-control form-control-lg input-lg" placeholder="Sua senha" id="senha" minlength="6" maxlength="20" autocomplete="off" required>
                        <div class="span">
                            <span for="nome" class="span-senha" id="span-senha"><span/>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="checkbox" onclick="lembrarSenha();">Lembrar senha</label>
                    </div>

                    <div class="div-botao-fipe">
                        <button id="cadastrar" href="/cadastro-usuario" type="button" class="link-modal btn-lg " style="cursor:pointer;">Criar conta</button>
                        <button id="entrar" type="button" class="link-modal btn-lg" onclick="faserLogin();" style="cursor:pointer;">Entrar</button>
                    </div>                   
                </form>
                <div class="span-erro">
                    <span for="nome" id="resLogin">{{resLogin}}<span/>
                </div>
            </div>
        </div>
		<div class="rodape-total">
        	<div class="rodape">
            	<h4>Projeto WEB-2 desenvolvido por Anderson Tonon</h1>
        	</div>
    	</div>
    </body>
</html>
