<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">   
        <link rel="stylesheet" href="../style.css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    
        {{!-- <meta http-equiv="refresh" content="0.5"> --}}
    </head>
    <script type="text/javascript"> 

        function lembrarSenha(){
            
            if(document.getElementById('checkbox').checked){
                
                document.getElementById("senha").autocomplete = "current-password";
                console.log(document.getElementById("senha").autocomplete);
            }else{
                document.getElementById("senha").autocomplete = "off";
                console.log(document.getElementById("senha").autocomplete);
            }        
        }
        function login(){

            var email = document.getElementById("email").value;
            var senha = document.getElementById("senha").value;

            const settings = {
                "url": "/entrar",
                "method": "POST",
                data: {email: email, senha: senha}
            };
        }
    </script>
    <body>
        <div class="corpo-principal">
            <div class="corpo-fipe">
                <div class="titulo-corpo-fipe" id="corpo">PREÇO MÉDIO DE VEÍCULOS</div>
                <div class="label-fipe-cadastro">
                    <label for="nome" class="label-text-fipe-login">Login - Tabela Fipe </label>
                </div>
                <div class="formulario-fipe-login">
                    <form class="" method="POST" onsubmit="return login();" action="/entrar">
                        <div class="form-group">
                            <label class="text-fipe-cadastro" for="email">E-mail:</label>
                            <input name="email" type="email" placeholder="seunome@email.com" class="form-control form-control-lg input-lg" id="email"  required>
                        </div>
                        <div class="form-group">
                            <label class="text-fipe-cadastro" for="senha">Senha:</label>
                            <input name="senha" type="password" class="form-control form-control-lg input-lg" placeholder="Sua senha" id="senha" minlength="6" maxlength="20" autocomplete="off" required>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" id="checkbox" onclick="lembrarSenha();"> Lembrar senha</label>
                        </div>
                        <div class="label-fipe-cadastro">
                            <label for="nome" class="label-text-fipe-login-message"> </label>
                        </div>
                        <div class="div-botao-fipe-login">
                            <a href="/cadastrar">
                                <button id="cadastrar" type="button" class="link-modal btn-lg " style="cursor:pointer;">Cadastrar</button>
                            </a>
                            <button id="entrar" type="submit" class="link-modal btn-lg "  style="cursor:pointer;">Entrar</button>
                        </div>                   
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
